<section class="container mt-20 flex gap-6">

    <a href="#" class="flex-1">
      <img src="/assets/images/upload/banner01.png" class="w-full" alt="banner">
    </a>

    <a href="#" class="flex-1">
      <img src="/assets/images/upload/banner02.png" class="w-full" alt="banner">
    </a>

  </section>