<section class="text-white relative bg-gradient-to-l mt-20 from-secondary-2 to-secondary before:block before:absolute before:bg-cover before:bg-center before:bg-home-about before:inset-0">

    <div class="container z-10 pt-16 pb-10 text-center">
      <h3 class="font-title font-black text-5xl">معرفی پمپ های صنعتی</h3>
      <p class="mt-10 text-xl w-2/3 mx-auto">پمپ انواع مختلف دارد. طبقه بندی های مختلف پمپ بر اساس مشخصات مختلف گروه بندی می شوند. در یکی از رایج ترین طبقه بندی ها بر اساس انتقال انرژی از پمپ به سیال، پمپ ها به دو دسته گروه بندی می شوند...</p>

      <%- include("../main/icon", {className: "w-28 h-28 mx-auto mt-5", name: "play-colored"}) %> 

    </div>

  </section>
