<section class="bg-white mt-20">
    <div class="container flex items-center py-9">
      <div class="w-2/3 pl-32">
          <h3 class="text-primary-text font-title text-5xl font-black">انواع درایرها</h3>
          <p class="text-dark-50 leading-10 text-justify mt-8 text-2xl">درایر یا خشک کن وسیله ای برای رطوبت زدایی هوای فشرده است. هوای فشرده در اثر فشار زیاد از کمپرسور خارج می شود، اگر دما کمی کاهش یابد، رطوبت به صورت قطرات آب خارج می شود و اگر رطوبت قبل از رسیدن به خط تولید گرفته نشود، ممکن است روی محصول یا قطعات باشد. آسیب مکانیکی در راه است.</p>
      </div>
      <div class="w-1/3 flex justify-end">
        <img src="/assets/images/home/about-image.png" class="w-full" alt="about image">
      </div>
    </div>
  </section>