<section class="container flex items-center mt-10">

    <div class="w-3/5 pl-20 flex flex-col justify-center">
      <h1 class="text-secondary font-black text-7xl font-title leading-snug">بهترین‌های صنعت هوا فـشـرده را از ما بـخـواهیـد</h1>
      <h2 class="text-dark-80 text-2xl mt-6">فروش، خدمات پس از فروش و تعمیر انواع سیستم‌های هوای فشرده</h2>

      <span class="flex items-center gap-2 mt-10">
        <%- include("icon", {className: "w-4 h-4", name:"heart-colored"}) %> 
        <span class="text-dark-50">بیش از ۲۰۰ کالا گوناگون در انواع متخلف</span>
      </span>

    </div>
    <div class="w-2/5 flex justify-end">

      <img class="w-11/12" src="/assets/images/home/hiro.png" alt="havarad">

    </div>


  </section>