<div class="w-1/5 px-3">
    <div class="bg-white rounded-2xl p-4 space-y-5">

      <a href="#">
        <img src="/assets/images/upload/product01.png" class="w-full" alt="product item">
      </a>

      <div class=" space-y-1">
        <h4 class=""><a href="" class="text-secondary text-lg font-medium transition-all duration-300 hover:text-secondary-2"><%= title %></a></h4>
        <p class="text-sm	text-dark-50"><%= subtitle %></p>
      </div>


      <a href="" class="text-center z-1 btn <%= btn %>">
        جزییات بیشتر
      </a>


    </div>
  </div>