<!DOCTYPE html>
<html lang="fa">
  <%- include("./../components/layout/head") %>
  <body class="bg-slate-800 grid place-items-center h-screen">
    <h1 class="text-7xl text-white">create-html-components</h1>
  </body>
</html>
